/Bilinear2D.class
/FunctionApproximator.class
/FunctionApproximatorException.class
/i_AverageLearner_id.class
/i_QLearner_id.class
/i_ReinforcementLearner_id.class
/i_ReinforcementLearner_idTest.class
/i_SLearner_id.class
